# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# SQLite database files
*.sqlite3
*.db

# VSCode settings
.vscode/

# Alembic migration files (optional, if you want to keep only the latest)
alembic/versions/

# Log files
logs/
*.log

# Python environment files
*.env
.env
.envrc
*.ini
*.toml

# Pytest cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS system files
.DS_Store

# Cache files
*.cache
